# Data Cleaning

## This script contains the following:
#### [1. Import Libraries](#import-libraries)
#### [2. Import Data](#import-data)
#### [3. Data Wrangling](#data-wrangling)
#### [4. Complete Data Check](#complete-data)
#### [5. Export the Data](#export-data)

### 1. Import Libraries<a id='import-libraries'></a>

In [1]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### 2. Import Data<a id='import-data'></a>

In [2]:
folderpath = r'/Users/matthewjones/Documents/CareerFoundry/Data Visualization with Python/Achievement 2/NY-CitiBike/2. Data/Processed Data'

df = pd.read_csv(os.path.join(folderpath, 'nyc_bike_weather_data.csv'), low_memory=False, encoding="utf-8", index_col = 0)

In [3]:
df.shape

(29838806, 17)

In [4]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'Unnamed: 0', 'date', 'avgTemp', '_merge'],
      dtype='object')

In [5]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
Unnamed: 0            float64
date                   object
avgTemp               float64
_merge                 object
dtype: object

In [6]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Unnamed: 0,date,avgTemp,_merge
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,NaN,2022-08-27,27.8,both
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,NaN,2022-08-20,27.9,both
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,NaN,2022-08-31,25.6,both
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.10,40.744219,-73.971212,40.764397,-73.973715,member,NaN,2022-08-02,26.4,both
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,NaN,2022-08-25,28.1,both

### 3. Data Wrangling<a id='data-wrangling'></a>

#### DELETING UNUSED COLUMNS

In [7]:
# Drop the 'Unnamed' column and the merge flag
df.drop(columns = {'Unnamed: 0', '_merge'}, inplace = True)

#### REMOVING ROWS WITHOUT AVG TEMPERATURE DATA

In [8]:
# Remove all rows with no average temperature data
df = df[~df['avgTemp'].isna()]

#### CLEANING DATA VALUES

In [9]:
df['member_casual'] = df['member_casual'].str.title()

In [10]:
df['rideable_type'] = df['rideable_type'].replace({'electric_bike':'Electric Bike', 'classic_bike':'Classic Bike'})

#### CALCULATING TRIP DURATION 
    In seconds

In [11]:
%%capture

# Make sure both the start and end time variables are datetime
df[['started_at','ended_at']] = df[['started_at','ended_at']].apply(pd.to_datetime)

In [12]:
%%capture

# Create a new column that calculates trip duration in seconds
df['trip_duration'] = (df['ended_at'] - df['started_at']).dt.seconds

#### ISOLATING THE MONTH AND SEASON

In [13]:
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month

In [14]:
df['season'] = df['month'].apply(lambda x: 'Winter' if x in [12, 1, 2]
                                            else 'Spring' if x in [3, 4, 5]
                                            else 'Summer' if x in [6, 7, 8]
                                            else 'Fall')

#### CALCULATING TOTAL DAILY BIKE RIDES

In [15]:
df['value'] = 1
df_group = df.groupby('date', as_index=False).agg({'value': 'sum'})
df_group.rename(columns = {'value':'bike_rides_daily'}, inplace = True)
df = df.merge(df_group, on = "date", how = 'outer', indicator = True)
print(df['_merge'].value_counts(dropna = False))

_merge
both          29838166
left_only            0
right_only           0
Name: count, dtype: int64

#### DEALING WITH OUTLIERS
    Creating a flag for outliers

In [16]:
# Calculating Q1, Q3, and the interquartile range
Q1 = df['trip_duration'].quantile(0.25)
Q3 = df['trip_duration'].quantile(0.75)
IQR = Q3 - Q1

print('The interquartile range is ' + str(IQR))

The interquartile range is 732.0

In [17]:
# Subsetting the dataset to count the number of outliers
outliers = df['trip_duration'][((df['trip_duration'] > (Q3 + 1.5*IQR)))]

print('number of outliers: ' + str(len(outliers)))
print('max outlier value: ' + str(outliers.max()))
print('min outlier value: ' + str(outliers.min()))

number of outliers: 1883666
max outlier value: 86399
min outlier value: 2178

In [18]:
print (str((len(outliers) * 100) / 29838166) + '% of the trip durations are outliers')

6.312941619803309% of the trip durations are outliers


Our limit for cleaning this data is 5%. 6.3% is too many values to remove from analysis. However, we can take the trips that had the top 5% of trip duration, and subset them out of the dataset.

In [19]:
# Finding 5% of the data
(29838166 * 5) / 100

1491908.3

In [20]:
# Identify the largest 5% of trip durations
df_longest_trips = df.nlargest(1491908, 'trip_duration')

In [21]:
df_longest_trips['trip_duration_outliers'] = True
df_longest_trips = df_longest_trips[['ride_id','trip_duration_outliers']]

In [22]:
complete = df.merge(df_longest_trips, how = 'left', on = 'ride_id')

In [23]:
complete.fillna({'trip_duration_outliers' : False}, inplace = True)

In [24]:
complete['trip_duration_outliers'].value_counts()

trip_duration_outliers
False    28346258
True      1491908
Name: count, dtype: int64

#### DROPPING NEW MERGE COLUMN

In [32]:
complete = complete.drop(columns = '_merge')

### 4. Complete Data Check<a id='complete-data'></a>

In [33]:
complete.shape

(29838166, 21)

In [34]:
complete.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'date', 'avgTemp', 'trip_duration', 'month', 'season',
       'value', 'bike_rides_daily', 'trip_duration_outliers'],
      dtype='object')

In [35]:
complete.dtypes

ride_id                           object
rideable_type                     object
started_at                datetime64[ns]
ended_at                  datetime64[ns]
start_station_name                object
start_station_id                  object
end_station_name                  object
end_station_id                    object
start_lat                        float64
start_lng                        float64
end_lat                          float64
end_lng                          float64
member_casual                     object
date                      datetime64[ns]
avgTemp                          float64
trip_duration                      int32
month                              int32
season                            object
value                              int64
bike_rides_daily                   int64
trip_duration_outliers              bool
dtype: object

In [36]:
complete.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,end_lng,member_casual,date,avgTemp,trip_duration,month,season,value,bike_rides_daily,trip_duration_outliers
0,D09109AEB47FEEA9,Classic Bike,2022-01-01 16:31:02.241,2022-02-03 20:27:00.358,Picnic Point,4374.01,E 16 St & 5 Ave,6022.04,40.685126,-74.025353,...,-73.992390,Casual,2022-01-01,11.6,14158,1,Winter,1,20428,True
1,ECDFB9C97FAF0F35,Classic Bike,2022-01-01 13:38:37.927,2022-01-01 13:45:58.200,W 13 St & 7 Ave,6030.04,Great Jones St,5636.11,40.737815,-73.999947,...,-73.993790,Casual,2022-01-01,11.6,440,1,Winter,1,20428,False
2,22F675B5C5A666FD,Classic Bike,2022-01-01 00:18:07.680,2022-01-01 01:19:41.047,W 42 St & Dyer Ave,6644.07,West St & Chambers St,5329.03,40.758985,-73.993800,...,-74.013221,Casual,2022-01-01,11.6,3693,1,Winter,1,20428,True
3,39DBCC00E8BCCFCF,Classic Bike,2022-01-01 22:40:32.125,2022-01-01 22:46:53.380,8 Ave & W 27 St,6297.07,E 31 St & 3 Ave,6239.08,40.747968,-73.996637,...,-73.979661,Member,2022-01-01,11.6,381,1,Winter,1,20428,False
4,FB8B1C38D9B41889,Electric Bike,2022-01-01 14:46:57.116,2022-01-01 14:53:41.673,University Pl & E 14 St,5905.14,E 31 St & 3 Ave,6239.08,40.734814,-73.992085,...,-73.979661,Member,2022-01-01,11.6,404,1,Winter,1,20428,False

### 5. Export the Data<a id='export-data'></a>

In [37]:
# Set the destination path for processed data
destpath = r'/Users/matthewjones/Documents/CareerFoundry/Data Visualization with Python/Achievement 2/NY-CitiBike/2. Data/Processed Data'

complete.to_pickle(os.path.join(destpath, 'cleaned_nyc_bike_weather_data.pkl'))

In [ ]:
# Set the destination path for processed data
destpath = r'/Users/matthewjones/Documents/CareerFoundry/Data Visualization with Python/Achievement 2/NY-CitiBike/2. Data/Processed Data'

complete.to_csv(os.path.join(destpath, 'cleaned_nyc_bike_weather_data.csv'))